html:not(.disable_user_stylesheet) body {
	text-rendering: optimizeLegibility;
	-webkit-font-feature-settings: 'clig', 'dlig', 'onum';
	font-feature-settings: 'clig', 'dlig', 'onum';
}
html:not(.disable_user_stylesheet) h1, 
html:not(.disable_user_stylesheet) h2, 
html:not(.disable_user_stylesheet) h3, 
html:not(.disable_user_stylesheet) h4, 
html:not(.disable_user_stylesheet) h5, 
html:not(.disable_user_stylesheet) h6, 
html:not(.disable_user_stylesheet) textarea, 
html:not(.disable_user_stylesheet) .title, 
html:not(.disable_user_stylesheet) .tagline, 
html:not(.disable_user_stylesheet) ul, 
html:not(.disable_user_stylesheet) ol {
	-webkit-font-feature-settings: 'clig', 'lnum', 'pnum';
	font-feature-settings: 'clig', 'lnum', 'pnum';
}
html:not(.disable_user_stylesheet) table {
	-webkit-font-feature-settings: 'tnum';
	font-feature-settings: 'tnum';
}

html:not(.disable_user_stylesheet) ul:not(.buttons) > li,
html:not(.disable_user_stylesheet) ol > li,
html:not(.disable_user_stylesheet) dd {
	line-height: 1.5;
}
html:not(.disable_user_stylesheet) dd {
	text-align: justify;
}
html:not(.disable_user_stylesheet) p, 
html:not(.disable_user_stylesheet) dd, 
html:not(.disable_user_stylesheet) li {
	max-width: 50em;
}

/* p */
html:not(.disable_user_stylesheet) p:not(.parent):not(.title):not(.tagline) {
	text-align: justify;
	margin-bottom: 1em !important;
	line-height: 1.5 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;

	-webkit-hyphenate-limit-after: 4;
	-webkit-hyphenate-limit-before: 4;
	-moz-hyphenate-limit-after: 4;
	-moz-hyphenate-limit-before: 4;
	hyphenate-limit-after: 4;
	hyphenate-limit-before: 4;
}
/* p+p */
html:not(.disable_user_stylesheet) p:not(.parent):not(.title):not(.tagline)+p:not(.parent):not(.title):not(.tagline) {
	text-indent: 1.25em;
	margin-top: -1em !important;
	margin-bottom: 0em !important;
}
/* p+p+p */
html:not(.disable_user_stylesheet) p:not(.parent):not(.title):not(.tagline)+p:not(.parent):not(.title):not(.tagline)+p:not(.parent):not(.title):not(.tagline) {
	margin-top: 0 !important;
	text-indent: 1.25em;
}

/* (block level elements that were given display:inline) inside a p will inherit the 1.5em text indent. This removes that. */
html:not(.disable_user_stylesheet) p * {
	text-indent: 0; 
}
/* sub, sup */
html:not(.disable_user_stylesheet) sub, html:not(.disable_user_stylesheet) sup {
	line-height: 0;
}

/* reddit */
.linkflairlabel {
	max-width: 50em !important;
}