/* inline images and the following paragraphs */
html.eotss_enabled body.mediawiki div.thumb.tleft {
	margin: 1.5em 1.5em 0em 0 !important;
	padding: 0 0 0 0 !important;
}
html.eotss_enabled body.mediawiki p+div.thumb.tleft {
	margin: 0.5em 1.5em 1em 0 !important;
	padding: 0 0 0 0 !important;
}
html.eotss_enabled body.mediawiki p+div.thumb.tright {
	margin: 0.5em 0 1em 1.5em !important;
	padding: 0 0 0 0 !important;
}
html.eotss_enabled body.mediawiki #mw-content-text p+div.thumb+p {
	text-indent: 1.25em;
	padding-top: 0 !important;
	margin-top: 0 !important;
	margin-bottom: -1em !important;
	position: relative;
	top: -1em;
}


/* quoteboxes are small grey boxes holding a quote. */
html.eotss_enabled body.mediawiki p+div.quotebox {
	margin-top: 1em !important;
	margin-right: 1em !important;
	margin-bottom: 1em !important;
	margin-left: 0 !important;
}
html.eotss_enabled body.mediawiki #mw-content-text p+div.quotebox+p {
	text-indent: 1.25em;
	padding-top: 0 !important;
	margin-bottom: 0 !important;
	position: relative;
	top: -1em;
}
